<div class="registratons-page">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <h2 class="font-weight-bolder registratons-title text-center">新規登録</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="font-italic registratons-box">
              <div class="field form-inline mt-5">
                <%= f.label "ユーザ名", class: "col-md-4" %>
                <%= f.text_field :name, autofocus: true, class: "form-control col-md-6 w-100" %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label "生年月日", class: "col-md-4" %>
                <span class="birth-date-select">
                  <%= f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 20), default: Date.new(1996, 1, 1) %>
                </span>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label "郵便番号", class: "col-md-4" %>
                <%= f.text_field :postcode, class: 'form-control col-md-6 w-100' %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label :prefecture_name, "都道府県", class: "col-md-4" %>
                <span class="prefecture-select">
                  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { prompt: '選択してください' } %>
                <span>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label :address_city, "市区町村", class: "col-md-4" %>
                <%= f.text_field :address_city, class: 'form-control col-md-6 w-100' %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label :address_street, "番地", class: "col-md-4" %>
                <%= f.text_field :address_street, class: 'form-control col-md-6 w-100' %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label "建物名", class: "col-md-4" %>
                <%= f.text_field :address_building , class: 'form-control col-md-6 w-100' %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label :email, class: "col-md-4" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-md-6 w-100' %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label "パスワード", class: "col-md-4" %>
                <%= f.password_field :password, autocomplete: "new-password",class: 'form-control col-md-6 w-100' %>
              </div>

              <div class="field form-inline mt-3">
                <%= f.label :password_confirmation, class: "col-md-4 password-confirmation-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-md-6' %>
              </div>
            </div>
            <div class="actions col-md-11 text-right mt-5">
              <%= f.submit "新規登録", class: "btn btn-outline-success mb-5" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
