<div class="d-flex justify-content-end mr-5">
  <div class="search_form form-inline">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "Search", class: "form-control mr-1", size: "30x10" %>
      <%= f.select :range, options_for_select([["タイトル"], ["ユーザ"], ["場所"]]) %>
      <%= f.select :search, options_for_select([["部分一致", "partial_match"], ["前方一致", "forward_match"], ["後方一致", "back_word_match"],["完全一致", "perfect_match"]]) %>
      <%= f.submit "検索", class: "btn-sm btn btn-outline-info mb-1" %>
    <% end %>
  </div>
</div>
