<div class="search-page my-3">
  <%= render "search/search" %>
  <% if @range == "タイトル" %>
    <div class="search-heading col-md-5 mx-auto">投稿検索結果</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 mx-auto">
          <% if @posts.exists? %>
            <% if user_signed_in? %>
              <div class="create-button">
                <%= link_to 'Create', new_post_path, class: "btn-lg btn btn-outline-success mr-5", data: {"turbolinks"=>false} %>
              </div>
            <% else %>
              <div class="create-button">
                <%= link_to 'Create', new_user_session_path, class: "btn-lg btn btn-outline-success mr-5", data: {"turbolinks"=>false} %>
              </div>
            <% end %>
            <div class="d-flex flex-wrap justify-content-center">
              <%= render "posts/index", posts: @posts %>
            </div>
            <div class="d-flex justify-content-center my-3">
              <%= paginate @posts %>
            </div>
          <% else %>
            <div class ="col-md-8 mx-auto my-5 search-nothing-text">
              <h2>検索ヒット数：0件</h2>
              <h2>別の条件で再度お試しください。</h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="search-heading col-md-6 mb-5 mx-auto">ユーザ検索結果</div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11 mx-auto">
            <% if @users.exists? %>
              <%= render "users/index", users: @users %>
              <div class="d-flex justify-content-center mt-2 mb-5">
                <%= paginate @users %>
              </div>
            <% else %>
              <h2 class="col-md-8 mx-auto mt-3">検索ヒット数：0件</h2>
              <h2 class="col-md-8 mx-auto">別の条件で再度お試しください。</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>