<div class="container my-5">

  <h2 class="mt-5">ユーザ情報編集</h2>
  <%= form_with model: @user, local:true do |f| %>
    <%= render "layouts/form_error_messages", model: f.object %>
    <div class="form-group">
      <%= f.attachment_field :profile_image %>
      </div>
    <div class="form-group">
      <%= f.label "ユーザ名" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label "自己紹介" %>
      <%= f.text_area :introduction %>
    </div>
    <%= f.submit :変更を保存, class: "btn btn-outline-success" %><br>

    <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "退会する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？二度とログインできなくなります。", class: "btn btn-outline-danger my-5" %>
    <% end %>
  <% end %>
</div>