<div class="top-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="application-title-top mt-5">Drinker × Drinker</h1>
          <h5 class="application-title-sub my-2">お酒専門のSNS</h5>
        </div>
        <% unless @all_ranks.empty? %>
          <div class="ranking-title"> Ranking</div>
          <div class="d-flex flex-wrap justify-content-around col-12">
            <% @all_ranks.each.with_index(1) do |post, i| %>
              <div class="my-5 col-9 h-auto">
                <h4 class="text-center ranking-order">第<%= i %>位</h4>
                <div class="ranking-post-box">
                  <div class="ml-3 form-inline">
                    <%= link_to user_path(post.user) do %>
                      <%= attachment_image_tag post.user, :profile_image, size: "60x60", fallback: "no_image.jpg", class:"rounded-circle mr-4" %>
                    <% end %>
                    <p class="ranking-user-name mt-3"><%= post.user.name%></p>
                    <%= link_to post.title, post_path(post), data: {"turbolinks"=>false}, class: "ranking-post-title fas fa-hand-point-right mt-1" %>
                  </div>
                  <div class="ranking-post-img">
                    <%= attachment_image_tag post, :post_image, format: "jpeg", size: "400", class: "img-responsive rounded d-block mx-auto" %>
                  </div>
                  <h4 class="ranking-caption"><%= simple_format(post.caption) %></h4>
                  <hr style="margin-top: 0;">
                  <div id="star-rate-<%= post.id %>" class="ranking-star">
                    <span class="ranking-review col-md-12"><%= post.rate %></span>
                  </div>
                  <script>
                    $("#star-rate-<%= post.id %>").raty({
                      size: 1,
                      starOff: "<%= asset_path('star-off.png') %>",
                      starOn: "<%= asset_path('star-on.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: "<%= post.rate %>",
                    });
                  </script>
                  <div class="form-inline mt-2">
                    <%= link_to post.post_comments.count, post_path(post), class: "fas fa-comment ranking-comment" %>
                    <div id="favorite_btn_<%= post.id %>" class="ranking-like-btn">
                      <%= render "favorites/favorite-btn", post: post %>
                    </div>
                    <div class="ranking-location">
                      <i class="fas fa-map-marker-alt mr-2"></i><%= post.location %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2>新着順</h2>
          <div class="d-flex flex-wrap justify-content-center">
            <%= render "posts/index", posts: @posts %>
          </div>
          <div class="d-flex justify-content-center">
            <%= paginate @posts %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>