<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h2 class="font-weight-bolder login-title">ログイン</h2>
      <div class='login-flash-message mt-4'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="font-italic login-form">
          <div class="field form-inline mt-5">
            <%= f.label "ユーザ名", class: "col-md-4 label-user-name" %>
            <%= f.text_field :name, autofocus: true, class: "form-control col-md-7" %>
          </div>
          <div class="field form-inline mt-4">
            <%= f.label :password, class: "col-md-4 label-password" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-md-7" %>
          </div>
          <div class="actions mt-5 col-md-11 text-right">
            <%= f.submit "ログイン", class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>
      <div class="field col-md-6 text-left mt-3 registrations-link-from-login">
        <%= link_to "新規登録はこちら", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>
