<div class="container-fluid">
  <div class="row">
    <div class="post-index-page">
      <%= render "search/search" %>
      <p class="new-arrival-title col-md-4 mb-0">新着順</p>
      <% if user_signed_in? %>
        <div class="create-button">
          <%= link_to 'Create', new_post_path, class: "btn-lg btn btn-outline-success mr-5", data: {"turbolinks"=>false} %>
        </div>
      <% else %>
        <div class="create-button">
          <%= link_to 'Create', new_user_registration_path, class: "btn-lg btn btn-outline-success mr-5", data: {"turbolinks"=>false} %>
        </div>
      <% end %>
      <div class="d-flex justify-content-around" style="margin: 0 50px;">
        <div class="row">
          <%= render "posts/index", posts: @posts %>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>