<div class="container">
  <h1>投稿詳細</h1>
  <%= attachment_image_tag @post, :post_image, format: "jpeg", size: "200x250" %>
  <p>タイトル: <%= @post.title %></p>
  <p>キャプション: <%= @post.caption %></p>
  <p>場所: <%= @post.location %></p>
  <p>投稿者: <%= @post.user.name %></p>
  <% if @post.user == current_user %>
    <%= link_to "編集する", edit_post_path(@post) %>
  <% end %>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
  <% end %>
</div>