<div class="container mt-5">
  <h1>お問い合わせ</h1>
  <div class="row">
    <%= form_with model: @inquiry, :url => inquiry_confirm_path, local:true do |f| %>
      <%= render "layouts/form_error_messages", model: f.object %>
      <table class="table col-md-11 my-5">
        <tr>
          <th>お名前<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <th>メールアドレス<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :email, class: "form-control"  %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容<span class="text-danger">（必須）</span></th>
          <td><%= f.text_area :message, class: "form-control", rows: "8"  %></td>
        </tr>
      </table>
      <div class="inquiry-confirmation-button"><%= f.submit '確認', class: "btn-lg btn btn-primary" %></div>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <div class="text-right">
          <hr class="my-5">
          <%= link_to "お問い合わせ一覧", admin_inquiry_chart_path, method: :get, class: "btn btn-warning" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>